
.widgetHeading{
  padding: 20px;

    .widgetshowpayment {
      font-family: 'Segoe UI';
      font-size: 36px;
      font-weight: normal;
      color: #262626;
      margin-bottom: 20px;
    }
  .widgetContainer{
    display: flex;

    .widgetshow {
      flex:2;
      display: flex;
      gap: 20px;
      font-family: 'Segoe UI';
      font-size: 13px;
      color: #262626;

      .widgetshowing {
        font-family: 'Segoe UI';
        font-size: 13px;
        color: #262626;
      }
      select {
        background-color: transparent;
        border: none;
        outline: none;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      }
    }

    .search {
      flex: 3;
      display: flex;
      width: 70px;
      align-items: center;
      justify-content: flex-start;
      // border-bottom: 0.5px solid lightgray;

      input {
        border: none;
        outline: none;
        background: transparent;

        &::placeholder {
          font-size: 12px;
        }
      }
    }

    .widgetHeadcase {
      flex:2;

      .widgetHeadshow {
        font-family: 'Segoe UI';
        font-size: 13px;
        color: #262626;
        display: flex;
        align-items: center;
        gap: 20px;

        select {
          background-color: transparent;
          padding: 5px 20px 5px 5px;
          border: 1px solid #CED0DA;
          outline: none;
          -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
        }
      }
    }    

   }
}
