.home {
  display: flex;

  .homeContainer {
    flex: 6;
    margin-left: 12.2rem;
    .widgets {
      margin-top: 3rem;
    }
    .widgets, .charts {

      display: flex;
      padding: 20px;
      gap: 20px;
    }
    .charts {
      padding: 5px 20px;
    }
  }
}